a{color : inherit; text-decoration: none;}



.wrap-new{
	position: relative;
    width: 980px;
    margin: 0px auto;
    display: table;
}

.box-new{
	background-image:url(images/fraise2.jpg);
	width:260px;
	height:223px; 
	margin:10px;
	padding: 15px;
	box-sizing:border-box;
}

.paragraph_white-text{
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: helvetica,"oxygen" ,helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #fff;
}

.link_offre-new{
	margin-top: 10px;
	margin-bottom: 0px;
	font-family: helvetica,"oxygen" ,helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #fff;
	text-decoration:underline; 
}

.column-new{
	display: table-cell;
	margin-left: 20px;
	margin-bottom: 20px;
}