body{
	background-color: gray;
}


.header-logo{
	z-index: 1;
	display: block;
	float: top;
	height: 250px;
	margin-left: 530px;
	margin-top: 0px;
}

.zone-inscription{
	z-index: 2;
	border-width: 5px;
	border-color: green;
	border-radius: 30px;
	margin-bottom: 450px;
	margin-top: 50px;
	height: 250px;
	width: 600px;
	box-shadow: 10px 10px 0px black;

	}

.bouton_connexion{
	width:200px;
	height: 30px;
	margin-top: 20px;
	border-color: green;
	border-style: solid;
	border-width: 2,5px;
}

.aide_connexion{
	color: #99FF99;
	margin-left: 450px;
	padding-top: 100px;
}

.creer_compte{
	z-index: 3;
	margin-top: 5px;
}