body{
	background-color: #e9e5e7;
}


.header-logo{
	z-index: 1;
	display: block;
	float: top;
	height: 25%;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;

	
}

.zone-connexion{
	border-width: 0px;
	background-color:white;
	z-index: 2;
	margin-bottom: 750px;
	margin-top: 50px;
	height: 400px;
	width: 400px;
	
	}
.bienvenue{
	font-family:;
	font-style: italic;
	font-size: 150%;
}

.bouton_connexion{

	background-color: #009900;
	width:350px;
	height: 50px;
	margin-top: 20px;
	border-style: solid;
	border-width: 2,5px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 100%;
	color:white;

}

.aide_connexion{

	color: #99FF99;
	margin-left: 450px;
	padding-top: 100px;
}

.creer_compte{
	z-index: 3;
	margin-top: 5px;
}
.mail{
	width: 300px;
	height: 40px;
}

