/* /////////////////////////////////////////////////////////////////////////
////////////////////////////    STYLE GLOBAL   /////////////////////////////
////////////////////////////////////////////////////////////////////////////*/		
a{  
	color : inherit;
	text-decoration: none;
}

body{
 	margin: 0;
	padding: 0;
	margin-bottom: 0px;
	background-color: #F4F4F7 ;
	/*background-image:url(images/panier_fruits_legumes.jpg);*/
 	background-repeat:no-repeat;
 	background-position: center top;
 	overflow-X:hidden	
 }
h1{
	font-size: 1.8rem;
	font-family: "Titillium Web", helvetica, Verdana, Arial, sans-serif;
	font-weight: 400;
	color:#0eb377;
	margin: 0px;
	text-align: center;
	width: 430px;
	background-color: #666666;
	margin-top: 30px;
}
h2{
	font-size: 1.3em;
	font-family:"Oxygen", helvetica, Arial, sans-serif;
	font-weight: 700;
	margin: 0px;
}
p{
	margin: 0px;
}
label{
font-family:'Oxygen',helvetica, Verdana, sans-serif;
height: 25px;
}

 input{
	padding-left: 5px;
	margin: 0;
	border: none;
	border-radius: 2px;
	height: 25px;
}



/* /////////////////////////////////////////////////////////////////////////
//////////////////////////       SECTION CONTENU       ///////////////////////////
////////////////////////////////////////////////////////////////////////////*/
 .centrage{ margin-top: 20px; margin:  auto; width: 430px;}

.wrap{
	margin: 0 auto;
}

.zone-inscription{
	background-color: #e9e5e7;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	width: 420px;
	border-color: white;
	border-width: 0px;
	}
.identite{width: 202px;}
#localisation{width: 414px;}
#code-postale{ width: 70px; height:25px;}
#mail{width: 414px;}
#password1{width: 414px; height: 25px;}
#password2{width: 414px; height: 25px;}
/*
.bouton_localisation{
	width:150px;
	height: 30px;
	background-color: gray;
	color: white;
	cursor: pointer;
	font-size: 100%;
	border-radius: 10px;
	margin-left: 10%;
}
/*#prenom{
	width: 40px;
 	height: 25px;
 	margin-right: 50%;*/
.bouton_inscrire{
	background-color: #0eb377;
	width:419px;
	height: 50px;
	margin-top: 20px;
	border-width: 2,5px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 100%;
	color:white;
}
.condition{
	color: #0eb377;
}





/* /////////////////////////////////////////////////////////////////////////
////////////////////////// LE FOOTER   /////////////////////////////////////
////////////////////////////////////////////////////////////////////////////*/

