.wrap-new{
	position: relative;
    width: 1000px;
    margin: 0px auto;
    display: table;
}

.box-new{
	background-image:url(images/fraise2.jpg);
	width:230px;
	height:200px; 
	margin:10px;
	padding: 15px;
	box-sizing:border-box;
}


.paragraph_white-text{

	background-color: rgba(102, 102, 102, 0.6);
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: "oxygen" ,helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #fff;
}

.link_offre-new{
	margin-top: 10px;
	margin-bottom: 0px;
	font-family: "oxygen" ,helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #fff;
	text-decoration:underline; 
}

.column-new{
	display: table-cell;
	margin-left: 20px;
	margin-bottom: 20px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////                                       ///////////////////////////////////////
//////////////////////////            /!\ RESPONSIVE  /!\        ///////////////////////////////////////
//////////////////////////                                       ///////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media all and (max-width: 1000px){
	.box-new{
	width:200px;
	height:170px; 
	margin:10px;
	padding: 15px;
}
	.wrap-new{
		width: 880px;
	}
}

@media all and (max-width: 880px){
	.box-new{
	width:150px;
	height:100px; 
	margin:5px;
	padding: 5px;
}
	.wrap-new{
		width: 440px;
	}
	.paragraph_white-text{
	font-size: 13px;
	
}
}