.wrap{    /* SERT a faire un rail de 960 le tout centrer au millieu de page*/

    position: relative;
    width: 960px;
    margin: 0px auto;	
}
.content{
	padding: 1.25em 5em;  /*Pb dans .content mais pas dans . content p*//*PAS METTRE DE WIDTH 100%!!!!!*/
    text-align: justify;
    
}
.content p{
	margin-bottom: 1.25rem;
	font-weight: 300;
    line-height: 1.6em;
  
}
h1{
	font-size: 1.8rem;
	font-family: Titillium Web; /*oxygen;*/
	font-weight: 300;
	color:#0eb377;
	margin: 0px;

}
/* /// LES COULEURS UTILISES///
	Texte en gris clair #616972
   	Le vert #0eb377
   	Le rouge #e56262*/

a{color : inherit; text-decoration: none;}

body{
  
    font-family: "oxygen" ,helvetica, Arial, sans-serif;
    font-weight: lighter;
    color:  #616972;
 	margin: 0;
	padding: 0;
	margin-bottom: 80px;
	background-color: #F4F4F7; /*#e9e5e7;*/
	/*background-image:url(images/tomate1200x750.jpg);
	background-size: 94%;
 	background-repeat:no-repeat;
 	background-position: center top;*/
 	overflow-X:hidden;
 	
 }
.cb{  /* cb qui sert à éviter que le header déscende*/
	clear: both;
}

/* ////////////////////////////////////////////////////////
 /////////LE HEADER////////////////////////////////*/

 header{ /* Le rectangle gris du top*/
		position: relative; 
		background-color:#666666;
		height: 60px;
		
		/*border-bottom: 5px solid #565656;*/
		margin-top: -16px;
	 } 

.header-logo{
	display: block;
	float: left;
	height: 100%;
	margin-left: 40px;
}
.header-accroche{
	position: relative;
	color:white;
	color:#616972;
    padding-left: 10em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    background-color: #e9e5e7;
    box-shadow: 0px 15px 15px -10px rgba(0, 0, 0, 0.35) inset;
    
}
.header-image_backgroundTOP{
position: relative;
margin: auto;
padding: auto;
text-align: center;
box-shadow: 0px 15px 15px -10px rgba(0, 0, 0, 0.35) inset;
}
.menu-item{  
	 /* Le menu*/
	font-size: 16px;
	font-family: Oxygen; 
	font-weight: lighter;
	float : right;
	color:#FFF;
	padding-bottom: 13px;
	margin-top:1.250em;
	margin-right: 40px;
	margin-left: 30px;
}

	.menu-item:hover {
		color: gray;
		border-bottom: 5px solid #0eb377;
		 -webkit-transition-duration: 0.5s; 
		 -moz-transition-duration: 0.5s; 
		 -ms-transition-duration: 0.5s; 
		 -o-transition-duration: 0.5s; 
		 transition-duration: 0.5s;
	}
	a:active {color: white;
		border-bottom: 15px solid #e56262;
	}	

input{
	/*margin-left: 370px;*/
	/*margin-top: 200px;*/
	margin-top: 18px;
	margin-left: 5.6em;

    background-color: #e9e5e7;
	border: 1px;
	border-style: solid;
	border-color: #565656;

	outline-color: none;
	outline-width: thin;
	width:150px;
	height: 1.8em;
    transition:width .5s;
    position: absolute;
}

input:hover{color: #0eb377;
	/*background-color: #565656;
	border-color: #565656;*/
		 -webkit-transition-duration: 0.5s; 
		 -moz-transition-duration: 0.5s; 
		 -ms-transition-duration: 0.5s; 
		 -o-transition-duration: 0.5s; 
		 transition-duration: 0.5s;
		}

input:focus {
	color:black;
   width:320px;
   background-color: white;
}

.image-loupe{
	margin-left: 304;/*400px*/
	margin-top: 18px;
	background-color: #565656;
	border-right: 4px solid #565656;
	border-left:4px solid #565656;
	 /*200px*/

	width: 35%;
}

label {
	display: block;
    width: 50px;
    float: left;
	}
/*;
#inscription{ //// rectangle orange en haut à droite pour l'inscription et connexion///
	
	margin-top: 10px;
	margin-left: 83.2% ; /*1061px
	position: absolute; 
	z-index: 1;
}
*/
#inscription-txt{

	font-size: 16px;
	font-family: Oxygen;
	font-weight: lighter;
	color: white;
	float:right;
	z-index: 1;
    position: relative;
	background: #0eb377;
	padding: 1.5em;
	margin-right: 2.4em;
	margin-top: -7.375em;
}


/* /// SECTION AJOUTS RECENTS///*//* /// SECTION AJOUTS RECENTS///*//* /// SECTION AJOUTS RECENTS///*/
.content h1{
	
	color: #0eb377; /*393939*/
	margin-top: 0px;
	margin-bottom: 0.2em;
	font-size: 2.5em;
	font-weight: bold;
}
	
h1 span {
	/*border-bottom: solid 5px #e56262;*/
}

a:hover {color: gray;
		 -webkit-transition-duration: 0.5s; 
		 -moz-transition-duration: 0.5s; 
		 -ms-transition-duration: 0.5s; 
		 -o-transition-duration: 0.5s; 
		 transition-duration: 0.5s;
	}



#global {    /*/// permet de déplacer toutes les photos et “voir offre“///*/
padding-bottom: 10px;
padding-top: 10px;
}


.AR-logo{   /*/// les images d'ajouts récents///*/
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 5px;
}

.AR-logo:hover {color: #e56262;   /* /// effet sur les images qui fonctionne pas pour le moment///*/
		 -webkit-transition-duration: 0.5s; 
		 -moz-transition-duration: 0.5s; 
		 -ms-transition-duration: 0.5s; 
		 -o-transition-duration: 0.5s; 
		 transition-duration: 0.5s;
	}

.recement-mis-ligne {
	margin-left: auto;
	margin-right: auto;
	border-right: 5px solid #0eb377 ;
	height: 200px;
	overflow: hidden;
	overflow: scroll;

	/*background-color: #cec4bb;*/
	background: #00AEEF;
background: -moz-linear-gradient(top, #F4F4F7 0%, #cec4bb 100%);
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00AEEF), color-stop(100%,#7D7E7D));
background: -webkit-linear-gradient(top, #00AEEF 0%,#7D7E7D 100%);
background: -o-linear-gradient(top, #00AEEF 0%,#7D7E7D 100%);
background: -ms-linear-gradient(top, #00AEEF 0%,#7D7E7D 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#7d7e7d',GradientType=0 );
background: linear-gradient(top, #00AEEF 0%,#7D7E7D 100%);   /// Gère l'effet background pour les autres navigateur///*/   
}


.rectangle{
		height:35px; 
		width:200px; 
		/*border-color: #565656; */
		background-color:#565656; 
		/*border-style:solid;*/ 
		/*border-width: 2px;*/
		border-radius:20px;
		float: left;
		margin-left: 10px;
		margin-right: 10px;
		/*text-align: center;*/
}

div h3{
	font-size: 16px;
	font-family: helvetica;
	font-weight: lighter;
	color: white;
	text-align: center;
	/*padding-bottom: 30px;*/
	line-height: 5px;    /* ////  PERMET DE CENTRER "VOIR l'offre" dans le rectangle gris - à revoir  ////  */
}

#bouton-voir-toutes-les-offres{
	width: 200px; 
	height: 43px;
	font: Oxygen;
	text-align: center; 
	color: white; 
	font-weight: lighter;
	background: #0eb377;
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
    border-radius: 8px;
    line-height: 1em;

	/*text-shadow: 0px 1px 0px #b04c4c;*/
	/*box-shadow:  0 0 5px #0eb377;*/
}

#bouton-voir-toutes-les-offres:hover{ 
	color: white; 
	background: #0a905f;
}

/*
#bouton-voir-toutes-les-offres:active{ 
	color: white; 
	background: #833838;  
	box-shadow: 1px 1px 10px black inset, 0 1px 0 white; 
}
*/
/* /// LE FOOTER///*//* /// LE FOOTER///*//* /// LE FOOTER///*//* /// LE FOOTER///*//* /// LE FOOTER///*//* /// LE FOOTER///*/

footer{  /*/// barre grise du footer ///*/
		position: relative; 
		background-color:#666666;
		height: 60px;
		padding-bottom: 0;
		margin-top: 100px;
}
.footer-txt{
	 	font-family: helvetica;
		font-weight: lighter;
		font-size: 16px;
		color:white;
		text-align: center;
		padding-right: 180px;
		padding-left: 180px;	
}
.tabcenter-footer { /*/// Pour centrer les élement dans le footer ///*/
   margin-left:auto;
   margin-right:auto;
   vertical-align: middle;
   line-height: 55px; 
}
 style="width: 430px; height: 20px "

